@font-face {
  font-family: SelectedFont;
  src: url(Segoe_UI.ttf); }
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #aaa;
  width: 100%;
  font-family: SelectedFont, Arial, Helvetica, sans-serif; }
  body h1 {
    font-size: 24px;
    font-weight: 900;
    color: #00c;
    text-align: center;
    text-shadow: 0px 5px 10px #ff0, 0px -5px 10px #ff0; }
  body h4 {
    font-size: 20px;
    font-weight: bold;
    color: #050; }
  body input.input-search {
    width: 330px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px; }
  body .container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 1024px;
    background-color: #fff;
    border-radius: 10px;
    color: #444;
    padding-bottom: 10px; }
    body .container__header {
      width: 100%;
      height: 220px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-image: url(../img/cover3.jpg);
      background-size: cover; }
    body .container__sidebar {
      width: 275px;
      text-align: right; }
      body .container__sidebar a {
        display: inline-block;
        width: calc(100% - 30px);
        height: 28px;
        line-height: 30px;
        margin-top: 10px;
        padding-right: 10px;
        background-color: #eee;
        color: #008;
        font-weight: 900;
        text-decoration: none;
        font-size: 14px;
        border: 1px solid #fff;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px; }
        body .container__sidebar a:visited {
          color: #008; }
        body .container__sidebar a.router-link-exact-active {
          background-color: #fff;
          border: 1px solid #eee;
          border-right: none;
          color: #444;
          cursor: default; }
    body .container__title {
      margin: 10px 0;
      height: 15px;
      width: 100%;
      line-height: 15px;
      font-weight: 900;
      font-size: 13px;
      border-bottom: 3px double #aaa; }
      body .container__title span.column2 {
        display: inline-block;
        float: right;
        margin-right: 50px; }
    body .container__table {
      margin-left: 300px;
      margin-top: -410px;
      width: calc(100% - 310px);
      min-height: 410px; }
      body .container__table p {
        padding: 3px;
        margin: 0; }
      body .container__table .data-text {
        font-family: courier, monospace;
        font-size: 0.9em;
        background-color: #fff;
        color: #555; }
    body .container__cover {
      width: 100%;
      height: 410px;
      overflow-x: hidden;
      overflow-y: auto; }
    body .container .table-view {
      width: 100%;
      color: #444;
      font-size: 16px; }
      body .container .table-view tr {
        border-bottom: 1px solid #aaa; }
        body .container .table-view tr.search-header {
          background-color: #ddd;
          border-bottom: 3px double #aaa; }
        body .container .table-view tr td {
          padding: 3px 8px; }
          body .container .table-view tr td.table-view__names {
            width: 500px; }
            body .container .table-view tr td.table-view__names .table-view__names--new {
              text-transform: uppercase; }
            body .container .table-view tr td.table-view__names .table-view__names--old {
              text-align: right;
              font-style: italic; }
          body .container .table-view tr td.table-view__descr {
            text-align: right;
            line-height: 37px; }
            body .container .table-view tr td.table-view__descr span.table-view__descr--mark {
              display: inline-block;
              float: right;
              width: 32px;
              height: 32px;
              margin-left: 10px; }
              body .container .table-view tr td.table-view__descr span.table-view__descr--mark.restored {
                background-image: url(../img/restore.png); }
            body .container .table-view tr td.table-view__descr a {
              color: #008; }
  body .footer {
    margin-top: 10px;
    width: 100%;
    text-align: center; }

/*# sourceMappingURL=main.css.map */
