/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ====================   base styles   ======================  */

body {
    background-color: #bbb;
    font-family: Arial, arial, sans-serif;
}

div.container {
    margin: 10px auto;
    width:1024px;
    background-color: #fcf0f8;
    border-radius: 10px;
    position:relative;
}

div.main-logotype {
    float: left;
    width: 1024px;
    height: 515px;
    margin-bottom: 20px;
    position:relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(../img/cover.jpg);
}

h3.main-header {
    padding: 0px 8%;
    margin: 5px auto;
    line-height: 1.1em;
    font-size: 2.5em;
    color: #00d;
    text-align:  center;
    text-shadow: 0px 5px 10px #ff0, 0px -5px 10px #ff0;
}

article {
    padding: 10px 20px;
}

p.alert {
    padding: 15px;
    color: #f00;
    background-color: #ffcccc;
    border:1px solid #f00;
    border-radius: 10px;
}

div.data-line, div.data-line-header {
    float: left;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    position: relative;
}

div.data-line-header {
    background-color: #eee;
    font-weight: bold;
}

div.object-type {
    float: left;
    width: 150px;
    height: 100%;
    text-align: center;
}

div.object-old, div.object-new, div.object-link {
    float: left;
    width: 300px;
    height: 100%;
}

div.object-new {
    width: 280px;
}

div.object-link {
    width: 85px;
    text-align: center;
    word-wrap: break-word;
}

p.footer {
    text-align: center;
    font-size:12px;
    color: #333;
}

p.bolded {
    font-weight: bold;
}

div.object-find {
    position:relative;
    width: 100%;
    margin: 10px auto;
}

div.find-label {
    float: left;
    height: 25px;
    line-height: 15px;
    width: 220px;
    margin:10px 10px;
    color: #008;
}

div.find-icon, div.find-close-icon {
    float: left;
    margin:10px 10px;
    width:25px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}

input.find-input {
    float: left;
    margin: 10px 0px;
    width:350px;
    height: 23px;
    border-radius: 3px;
}

div.find-icon {
    background-image: url(../img/search_m.png);
}

div.find-close-icon {
    background-image: url(../img/close_m.png);
}

div.find-results {
    margin: 5px auto;
    width:100%;
}

@keyframes bitbit {
    0%   {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    50%  {
        -ms-transform: scale(1.3,1.3);
        -webkit-transform: scale(1.3,1.3);
        transform: scale(1.3,1.3);        
    }
    100% {
        -ms-transform: scale(1,1);
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

.pulsation {
    animation-name: bitbit;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.find-result-header {
    float: left;
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    background-color: #ccc;
}

.result-label {
    float: left;
    width: 110px;
    text-align: right;
    word-wrap: break-word;
    font-weight: bold;
    color: #060;
}

div.footer-counters {
    width: 100%;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}