body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  background-color: #aaa;
  width: 100%;
  
  .container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 1024px;
    background-color: #fff;
    border-radius:10px;
    color: #444;
    padding-bottom: 10px;
    
    &__header {
      width: 100%;
      height: 220px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-image: url(../img/cover3.jpg);
      background-size: cover;
    }
    
    &__sidebar {
      width: 270px;
      text-align: right;
      a {
        display: inline-block;
        width: calc(100% - 30px);
        height: 28px;
        line-height: 30px;
        margin-top: 10px;
        padding-right: 10px;
        background-color: #eee;
        color: #008;
        font-weight: 900;
        text-decoration: none;
        font-size: 12px;
        &:visited {
          color: #008;  
        }
      }
    }
    
    &__title {
      margin-bottom: 10px;
      width: calc(100% - 310px);
      height: 15px;
      line-height: 15px;
      font-weight: 900;
      font-size: 13px;
      border-bottom: 3px double #aaa;
      span.column2 {
        display: inline-block;
        float: right;
        margin-right: 50px;
      }
    }
    
    &__table {
      margin-left: 300px;
      margin-top: -450px;
      width: calc(100% - 310px);
      height: 410px;
      overflow-x: hidden;
      overflow-y: auto;

      .table-view {
        width:100%;
        color: #444;
        font-size: 14px;
        tr {
          border-bottom: 1px solid #aaa;
          
          td {
            padding: 3px 8px;
            
            &.table-view__names {
              width: 500px;
              .table-view__names--new {
                text-transform: uppercase;
              }
              .table-view__names--old {
                text-align: right;
                font-style: italic;
              }
            }
            
            &.table-view__descr {
              text-align: right;
              line-height: 37px;
              span.table-view__descr--mark {
                display: inline-block;
                float:right;
                width: 32px;
                height: 32px;
                margin-left: 10px;
                &.restored {
                  background-image: url(../img/restore.png);
                }
              }
              a {
                color: #008;
              }
            }
          }
        }
      }
    }
    
  }
  
  .footer {
    margin-top:10px;
    width: 100%;
    text-align: center;
  }
}