@font-face {
    font-family: SelectedFont;
    src: url(Segoe_UI.ttf);
}

body {
  position:relative;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #aaa;
  background-image: url(../img/dniproicons.jpg);
  width: 100%;
  font-family: SelectedFont, Arial, Helvetica, sans-serif;
  
  h1 {
    font-size: 24px;
    font-weight: 900;
    color: #00c;
    text-align: center;
    text-shadow: 0px 5px 10px #ff0, 0px -5px 10px #ff0;
  }  
  
  h4 {
    font-size: 20px;
    font-weight: bold;
    color: #050;
  }
  
  input.input-search {
    width:330px;
    padding: 4px 8px;
    border: 1px solid #ddd;
    border-radius:4px;
    margin-bottom: 20px;
  }
  
  article.links-block {
    padding-top:20px;
    padding-bottom:10px;
  }
  
  .copyright {
    position: absolute;
    left:10px;
    bottom:10px;
    font-size: 12px;
    
    a{
      text-decoration: none;
      color: #800;
      font-weight: 900;
    }
  }
  
  .container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 1024px;
    background-color: #fff;
    border-radius:10px;
    color: #444;
    padding-bottom: 10px;
    border: 2px solid #eee;
    box-shadow: 0px 5px 10px #eee, 5px 5px 10px #eee, -5px 0px 10px #eee, -5px -5px 10px #eee;
    
    &__header {
      width: 100%;
      height: 220px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-image: url(../img/cover3.jpg);
      background-size: cover;
    }
    
    &__sidebar {
      width: 275px;
      text-align: right;
      a {
        display: inline-block;
        width: calc(100% - 30px);
        height: 28px;
        line-height: 30px;
        margin-top: 10px;
        padding-right: 10px;
        background-color: #eee;
        color: #008;
        font-weight: 900;
        text-decoration: none;
        font-size: 14px;
        border: 1px solid #fff;
        border-top-left-radius: 4px;
        border-bottom-left-radius:4px;
        &:visited {
          color: #008;  
        }
        &.router-link-exact-active {
          background-color: #fff;
          border: 1px solid #eee;
          border-right: none;
          color: #444;
          cursor: default;
        }
      }
    }
    
    &__title {
      margin: 10px 0;
      height: 15px;
      width: 100%;
      line-height: 15px;
      font-weight: 900;
      font-size: 13px;
      border-bottom: 3px double #aaa;
      span.column2 {
        display: inline-block;
        float: right;
        margin-right: 50px;
      }
    }
    
    &__table {
      margin-left: 300px;
      margin-top: -480px;
      width: calc(100% - 310px);
      min-height: 410px;
      
      p {
        padding: 3px;
        margin: 0;
        
        &.special {
          padding:8px;
          background-color: #eee;
          border-radius: 4px;
          border: 1px solid #ddd;
        }
      }
      
      .data-text {
        font-family: courier, monospace;
        font-size: 0.9em;
        background-color: #fff;
        color: #555;
      }
    }
    
    &__cover {
      width:100%;
      height: 410px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    
    .table-view {
      width:100%;
      color: #444;
      font-size: 16px;
      tr {
        border-bottom: 1px solid #aaa;
        
        &.search-header {
          background-color: #ddd;
          border-bottom: 3px double #aaa;
        }

        td {
          padding: 3px 8px;

          &.table-view__names {
            width: 500px;
            .table-view__names--new {
              text-transform: uppercase;
            }
            .table-view__names--old {
              text-align: right;
              font-style: italic;
            }
          }

          &.table-view__descr {
            text-align: right;
            line-height: 37px;
            span.table-view__descr--mark {
              display: inline-block;
              float:right;
              width: 32px;
              height: 32px;
              margin-left: 10px;
              &.restored {
                background-image: url(../img/restore.png);
              }
            }
            a {
              color: #008;
            }
          }
        }
      }
    }
  }
  
  .footer {
    margin-top:10px;
    width: 100%;
    text-align: center;
  }
  
  $pathNumber: 18;
  $firstColor: #0057B8;
  $listColors: #F11E4A, #F8A527, #266D7F, #82A, $firstColor;
  $delayCoeff: 0.1s; 

  div#loader {
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color: #fff;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index:10;

    .svg {
      display: inline-block;
      height: 200px;
      width: 200px;
      line-height: 200px;
      text-align: center;
      background-color: #FFF;
      border-radius: 50%;
    }

    #svg {
      display: inline-block;
      vertical-align: middle;
      fill: $firstColor;

      @for $i from 1 through 18 {

          path:nth-child(#{$i}) {
            animation: pweek $delayCoeff*$pathNumber linear infinite;
            animation-delay: $i*$delayCoeff;

            &:hover {
              animation-play-state: paused;

            }
          }
       }
    }

    @keyframes pweek {
      0% {
        fill: $firstColor;
      }
      @for $i from 1 through length($listColors) {
        #{$i*(100/length($listColors))}% {
          fill: nth($listColors, $i);
        }
      }
    }

  }
}